@font-face {
    font-family: "Most Wazted";
    font-weight: normal;
    font-style: normal;
    src: url("http://127.0.0.1:5500/scripts/a_attack_graffiti/Mostwasted.eot") format("eot"),
        url("http://127.0.0.1:5500/scripts/a_attack_graffiti/Mostwasted.woff") format("woff"),
        url("http://127.0.0.1:5500/scripts/a_attack_graffiti/Mostwasted.ttf") format("truetype"),
        url("http://127.0.0.1:5500/scripts/a_attack_graffiti/Mostwasted.svg") format("svg");
}


@font-face {
    font-family: "Streetbomber";
    src: url("http://127.0.0.1:5500/scripts/a_attack_graffiti/Streetbomber.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Graffogie";
    src: url("http://127.0.0.1:5500/scripts/a_attack_graffiti/Graffogie.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1,h2,h4,h5,h6 {
font-family: "Streetbomber";
}

span.popup {
    color: red;
    font-family: "Streetbomber";
    font-size: 1.8em;
}

span.popup:hover {
    color: blue;
}

[data-title]:hover:after {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    font-family: Arial, Helvetica, sans-serif;
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    left: 100%;
    padding: 4px 4px 4px 8px;
    color: black;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #666;
    -webkit-box-shadow: 0px 0px 4px #666;
    box-shadow: 0px 0px 4px #666;
    background-image: -moz-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -webkit-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -moz-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -ms-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -o-linear-gradient(top, #f0eded, #bfbdbd);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}